* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-bottom: 30px;
}

ul li {
  flex-basis: 25%;
  max-width: 25%;
  text-align: center;
}

ul li span {
  display: block;
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}

ul li:last-child {
  border-right: none;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.btn-container button {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-container button:hover {
  background-color: #fff;
  color: #000;
}

#old-results {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#old-results:hover {
  background-color: #555;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-right: 10px;
}

.btn:hover {
  background-color: #555;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  ul li span {
    font-size: 3rem;
  }

  #old-results,
  .btn {
    font-size: 1rem;
    padding: 8px 16px;
  }
}
