/* Tüm elemanlara varsayılan ayarları uygula */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body öğesi için ayarları uygula */
body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container elemanları için ayarları uygula */
.container {
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 20px;
}

/* Başlık elemanları için ayarları uygula */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #555;
}

/* Listeleme elemanları için ayarları uygula */
ul {
  list-style: none;
  font-size: 18px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

span {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

div {
  font-size: 14px;
  color: #777;
}

/* Ekran genişliği 600 pikselden küçükse (mobil cihazlar için) */
@media (max-width: 600px) {
  /* Container elemanları için ayarları güncelle */
  .container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 10px;
  }
}
